version: "3.8"

services:
  web:
    image: nginx:latest
    container_name: simple_web
    ports:
      - "8080:80"
    volumes:
      - ./:/usr/share/nginx/html
    restart: unless-stopped
